<%- include("partials/header.ejs") %>
<body>
    <%- include("partials/nav.ejs") %>
    <h1>Updating Author Data</h1>
        <form method="POST" action="/author/edit" class="input-form">
            <input type="hidden" name="authorId" value="<%=authorInfo[0].authorId%>">
            
            First Name:
            <input type="text" name="fName" value="<%=authorInfo[0].firstName%>" required="required">
            <br>

            Last Name:
            <input type="text" name="lName" value="<%=authorInfo[0].lastName%>" required="required">
            <br>
            
            Date of Birth:
            <input type="date" name="dob"  value="<%=authorInfo[0].dobISO%>" required="required">
            <br>

            Date of Death:
            <input type="date" name="dod"  value="<%=authorInfo[0].dodISO%>">
            <br>

            Sex:
            <select name="sex" required="required">
                <% if (authorInfo[0].sex == "M") { %>
                    <option value = 'F'>F</option>
                    <option value = 'M' selected>M</option>
                <%}else{%>
                    <option value = 'F' selected>F</option>
                    <option value = 'M'>M</option>
                <%}%>
            </select>
            <br>

            Profession:
            <input type="text" name="profession" value="<%=authorInfo[0].profession%>" required="required"><br>
            Country:
            <input type="text" name="country" value="<%=authorInfo[0].country%>" required="required"><br>
            Portrait URL:
            <input type="text" name="portrait" value="<%=authorInfo[0].portrait%>" required="required"><br>
            Bio:
            <textarea name="bio" class="long-text" required="required"><%=authorInfo[0].biography%></textarea>
            <br><br>  

            <button class="btn btn-outline-primary">Update Author</button>
        </form>

        <%- include("partials/footer.ejs") %>
</body>
</html>
